
<header class="navbar-fixed-top">
    <nav class="sobrebarra">
      <div class="telefonos">
        <i class="fas fa-phone icono"> </i> TEL (449) 300 9067  <span class="glyphicon glyphicon-envelope no-cel" id="sobre"></span> <span class="correo no-cel"> hola@marketful.mx </span>
      </div>
      <div class="redes ">
        <a href="https://www.pinterest.com.mx/socialmedia4435/pins/" id="logo_pinterest" class="fa fa-pinterest logo_sn " target="_blank"></a>  
        <a href="https://www.instagram.com/marketfulmx" id="logo_ig" class="fa fa-instagram logo_sn" target="_blank"></a>   
        <a href="https://www.facebook.com/marketfulmx/" id="logo_fb" class="fa fa-facebook logo_sn" target="_blank"></a>  
        <a href="https://www.linkedin.com/company/marketful-fulfillment/" id="logo_lnkd" class="fa fa-linkedin logo_sn" target="_blank"></a>       
      </div>
    </nav> 

  <nav class="navbar  barra">
    <!-- <div class="contenedor"> -->
      <%#= link_to "MARKETFUL", '/', id: "logo" %>
      <%#= image_tag("Logo_marketful.png", :alt => "Logo Marketful") %>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border: 1px solid black;" >
          <span class="icon-bar" style="border: 1px solid black;"></span>
          <span class="icon-bar" style="border: 1px solid black;"></span>
          <span class="icon-bar" style="border: 1px solid black;"></span>                        
        </button>
        <div id="#logo_marketful">
        <%=link_to image_tag("Logo_marketful.png", height: "82px", alt: "Edit Entry", id: "logo_marketful"), '/' %>
        </div>
      </div>
      <div class="collapse navbar-collapse nombres" id="myNavbar" style="padding-left: 0vh;" >

        
        <ul class="nav navbar-nav " id="myNavbarul">
          <li><%= link_to "HOME",   '/' %></li>
            <li><a href="#section_servicios" >SERVICIOS</a></li>
            <!-- <li><%#= link_to "POR QUE ELEGIRNOS",   '/' %></li> -->
            <li><a href="#section_fulfillment" >FULFILLMENT</a></li>
            <li><a href="#section_clientes" >CLIENTES</a></li>
            <li><a href="#section2">CONTACTO</a></li>
        </ul>
      </div>
    <!-- </div> -->
  </nav>
</header>





<!-- fin header -->
	<div class="container-full">
		<div class="color img-responsive" >

				<div class="eq"><p class="titulo font-weight-bold">Cotiza con un Clic!</p>
				</div>
			<div class="container">
				<div class="row ">
					<div class="col-lg-4 col-md-4 col-xs-12 h">
						<div class="input-group mb-3">
  							<div class="input-group-prepend">
    							<span class="input-group-text" id="inputGroup-sizing-default">Origen</span>
  							</div>
  							<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-xs-12 h">
						<div class="input-group mb-3">
  							<div class="input-group-prepend">
    							<span class="input-group-text" id="inputGroup-sizing-default">Destino</span>
  							</div>
  							<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-xs-12 h">
						<div class="input-group mb-3">
  							<div class="input-group-prepend">
    							<span class="input-group-text" id="inputGroup-sizing-default">Producto</span>
  							</div>
  							<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
<div class="espacio"></div>
<!-- CARRUSEL -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <style> 
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }
  </style>
</head>
<body>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
    	<p class="p">TRABAJAMOS SOLO CON LOS MEJORES</p>
      <%= link_to image_tag('paqueteria final.jpg', :class => 'img-car',:alt => 'Mostrar detalle de prospecto') %> 
    </div>
    <div class="carousel-item">
    	<p class="p">ATENCION PERSONALIZADA</p>
      <%= link_to image_tag('atencion a clientes.jpg', :class => 'img-car',:alt => 'Mostrar detalle de prospecto') %> 
    </div>
    <div class="carousel-item">
      <%= link_to image_tag('paqueteria final.jpg', :class => 'img-car',:alt => 'Mostrar detalle de prospecto') %> 
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


