<!DOCTYPE html>
<html>
  <head>
    <!-- chat -->
    <script src="https://wchat.freshchat.com/js/widget.js"></script>

    <title>PruebaFinal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    

<div class="sticky-top">
    <div class="sobrebarra container-full">
      <div class="telefonos">
        <i class="fas fa-phone icono"> </i> TEL (449) 300 9067  <span class="glyphicon glyphicon-envelope no-cel" id="sobre"></span> <span class="correo no-cel"> hola@marketful.mx </span>
      </div>
      <div class="redes ">
        <a href="https://www.pinterest.com.mx/socialmedia4435/pins/" id="logo_pinterest" class="fa fa-pinterest logo_sn " target="_blank"></a> 
        <a href="https://www.instagram.com/marketfulmx" id="logo_ig" class="fa fa-instagram logo_sn" target="_blank"></a>   
        <a href="https://www.facebook.com/marketfulmx/" id="logo_fb" class="fa fa-facebook logo_sn" target="_blank"></a>  
        <a href="https://www.linkedin.com/company/marketful-fulfillment/" id="logo_lnkd" class="fa fa-linkedin logo_sn" target="_blank"></a>       
      </div>
    </div>
  
    <nav class="navbar-expand-md navbar-light">

      <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse w-100" id="collapse_target">
      <a class="navbar-brand"> <%= link_to image_tag('logo2.png', :class => 'img-logo') %> </a>

      <ul class="navbar-nav nav w-100 ml-auto justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SERVICIOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FULFILLMENT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CLIENTES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACTO</a>
        </li>
      </ul> 
    </div>
    </nav> 
  </div>

    <!-- </div> -->



<!-- fin header -->



    <%= yield %>

<style>

nav{
  background-color: white;
}

ul{
  padding-right: 30px;
}
.img-logo{
  height: 82px;
}
.anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}
header{
  position: relative;
  display:block;
}
#myNavbar{
  /*margin-left: 10%;*/
  padding-right: 2%;
  /*float: right;*/
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f00; /* Changes regular toggle color */
  border: 1px solid black;
}
.contenedor{
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.sobrebarra{
  background-color: black;
  height: 44px;
  /*dislpay: inline-block;*/
}
.nombres{
  padding-top: 1%;
  float: right;
}
.barra{
  background-color: white;
  /*margin-top: 5px;*/
  /*dislpay: inline-block;*/
/*  margin-bottom: 0px;
  height: 84px;
  width: 100%;*/
}
.nombre_secciones{
  font-family: 'Poppins Regular';
  font-size: 14px;
  padding-top: 18px;
}
.barra2{
  margin: 0px;
  /*width: 100%;*/
}
@media (max-width: 990px) {
  #logo_marketful{
    margin-left: 0%;
  }
}
@media (min-width: 991px) {
  #logo_marketful{
    margin-left: 0%;
  }
}
@media (max-width: 990px) {
  .correo{
    visibility: hidden;
  }
}
@media (min-width: 1300px) {
  .logo_sn{
    margin-left: 5px;
    /*font-size: 22px;*/
  }
  #logo_pinterest, #logo_ig, #logo_fb,  #logo_lnkd{
    font-size: 22px;
  }
}
@media (max-width: 1300px) {
  .logo_sn{
    margin-left: 2px;
  }
}
#sobre{
  margin-left: 25px;
}
.telefonos{
  margin-left: 2.1%;
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: "Poppins Regular";
  font-size: 16.4px;
  color: white;
  max-width: 60%;
  /*position: relative;*/
  float: left;
  overflow: auto;
}
.redes{
  margin-right: 20.1%;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: "Poppins Regular";
  font-size: 16.4px;
  color: white;
  max-width: 30%;
  /*position: relative;*/
  overflow: auto;
  float: right;
}
.logo_sn{
  /*margin-left: 2px;*/
  color: white;
}
.icono{
  color: blue;
  font-size: 19px;
  margin-right: 2px;
}
  font-family: "fontawesome";
.navbar-fixed-top{
  position:relative;
}
.navbar-header{
  /*float; left;*/
}



</style>  


  </body>
</html>