<!DOCTYPE html>
<html>
  <head>
  	<!-- chat -->
  	<script src="https://wchat.freshchat.com/js/widget.js"></script>

    <title>PruebaFinal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

<header class="navbar-fixed-top">
    <nav class="sobrebarra">
      <div class="telefonos">
        <i class="fas fa-phone icono"> </i> TEL (449) 300 9067  <span class="glyphicon glyphicon-envelope no-cel" id="sobre"></span> <span class="correo no-cel"> hola@marketful.mx </span>
      </div>
      <div class="redes ">
        <a href="https://www.pinterest.com.mx/socialmedia4435/pins/" id="logo_pinterest" class="fa fa-pinterest logo_sn " target="_blank"></a>  
        <a href="https://www.instagram.com/marketfulmx" id="logo_ig" class="fa fa-instagram logo_sn" target="_blank"></a>   
        <a href="https://www.facebook.com/marketfulmx/" id="logo_fb" class="fa fa-facebook logo_sn" target="_blank"></a>  
        <a href="https://www.linkedin.com/company/marketful-fulfillment/" id="logo_lnkd" class="fa fa-linkedin logo_sn" target="_blank"></a>       
      </div>
    </nav> 

  <nav class="navbar  barra">
    <!-- <div class="contenedor"> -->
      <%#= link_to "MARKETFUL", '/', id: "logo" %>
      <%#= image_tag("Logo_marketful.png", :alt => "Logo Marketful") %>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border: 1px solid black;" >
          <span class="icon-bar" style="border: 1px solid black;"></span>
          <span class="icon-bar" style="border: 1px solid black;"></span>
          <span class="icon-bar" style="border: 1px solid black;"></span>                        
        </button>
        <div id="#logo_marketful">
        <%=link_to image_tag("Logo_marketful.png", height: "82px", alt: "Edit Entry", id: "logo_marketful"), '/' %>
        </div>
      </div>
      <div class="collapse navbar-collapse nombres" id="myNavbar" style="padding-left: 0vh;" >

        
        <ul class="nav navbar-nav " id="myNavbarul">
          <li><%= link_to "HOME",   '/' %></li>
            <li><a href="#section_servicios" >SERVICIOS</a></li>
            <!-- <li><%#= link_to "POR QUE ELEGIRNOS",   '/' %></li> -->
            <li><a href="#section_fulfillment" >FULFILLMENT</a></li>
            <li><a href="#section_clientes" >CLIENTES</a></li>
            <li><a href="#section2">CONTACTO</a></li>
        </ul>
      </div>
    <!-- </div> -->
  </nav>
</header>





<!-- fin header -->

    <%= yield %>
<footer class="footer">
<!--   <small>
    Marketful RMS
  </small> -->
  <!-- <nav> -->
  <!--   <ul>
      <li><%#= link_to "Nosotros",   '#' %></li>
      <li><%#= link_to "Contacto", '#' %></li>
    </ul> -->
    
  <!-- </nav> -->
  <div class="sobrenosotros">
    <div id="barra-fucsia" class="no-cel">
    </div>
    <div class="titulo-sn">
      SOBRE NOSOTROS
    </div>
    <div id="text-sn">
      Proporcionamos a las personas y empresas que venden via online, herramientas
      tecnologicas practicas y eficaces, disenadas para simpificar el proceso de 
      comercializacion y distribucion de sus productos 
    </div>
    <div id="redes-footer">
      <a href="https://www.pinterest.com.mx/socialmedia4435/pins/" class="fa fa-pinterest logo_sn" target="_blank"></a>  
      <a href="https://www.instagram.com/marketfulmx" class="fa fa-instagram logo_sn" target="_blank"></a>   
      <a href="https://www.facebook.com/marketfulmx/" class="fa fa-facebook logo_sn" target="_blank"></a>  
      <a href="https://www.linkedin.com/company/marketful-fulfillment/" class="fa fa-linkedin logo_sn" target="_blank"></a> 
    </div>
  </div>
  <div class="contacto-footer no-cel">
    <div class="texto-contacto" id="primer-telefono">
      <i class="fas fa-phone icono-footer"> </i> 
    </div>
    <div id="contacto-main" class="info-contacto texto-contacto">
      Tel. (449) 300 90 67
    </div>
    <div class="texto-contacto">
      <i class="glyphicon glyphicon-envelope sobre-footer "> </i> 
    </div>
    <div class="info-contacto texto-contacto">
      hola@marketful.mx
    </div>
    <div class="texto-contacto">
      <i class="fa fa-map-marker icono-footer"> </i> 
    </div>
    <div class="info-contacto texto-contacto">
      David Guzman C-8N 114, Cd. Industrial
    </div>
  </div>
  <div class="mapa-footer no-cel">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3703.6450199873952!2d-102.28835078568792!3d21.83264226522596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429edca5488059d%3A0xc83fc98ce280d6f1!2sMarketful!5e0!3m2!1ses-419!2smx!4v1529968075930"  frameborder="0" style="border:0" allowfullscreen class="mapag"></iframe>
  </div>
</footer>

<style>

.anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}


header{
  position: relative;
  display:block;
}
#myNavbar{
  /*margin-left: 10%;*/
  padding-right: 2%;
  /*float: right;*/
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f00; /* Changes regular toggle color */
  border: 1px solid black;
}
.contenedor{
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.sobrebarra{
  background-color: black;
  height: 44px;
  /*dislpay: inline-block;*/
}
.nombres{
  padding-top: 1%;
  float: right;
}
.barra{
  background-color: white;
  /*margin-top: 5px;*/
  /*dislpay: inline-block;*/
/*  margin-bottom: 0px;
  height: 84px;
  width: 100%;*/
}
.nombre_secciones{
  font-family: 'Poppins Regular';
  font-size: 14px;
  padding-top: 18px;

}
.barra2{
  margin: 0px;
  /*width: 100%;*/
}
@media (max-width: 990px) {
  #logo_marketful{
    margin-left: 0%;
  }
}
@media (min-width: 991px) {
  #logo_marketful{
    margin-left: 0%;
  }
}

@media (max-width: 990px) {
  .correo{
    visibility: hidden;
  }
}
@media (min-width: 1300px) {
  .logo_sn{
    margin-left: 5px;
    /*font-size: 22px;*/
  }
  #logo_pinterest, #logo_ig, #logo_fb,  #logo_lnkd{
    font-size: 22px;
  }
}
@media (max-width: 1300px) {
  .logo_sn{
    margin-left: 2px;
  }
}
#sobre{
  margin-left: 25px;
}

.telefonos{
  margin-left: 2.1%;
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: "Poppins Regular";
  font-size: 16.4px;
  color: white;
  max-width: 60%;
  /*position: relative;*/
  float: left;
  overflow: auto;
}
.redes{
  margin-right: 20.1%;
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: "Poppins Regular";
  font-size: 16.4px;
  color: white;
  max-width: 30%;
  /*position: relative;*/
  overflow: auto;
  float: right;
}
.logo_sn{
  /*margin-left: 2px;*/
  color: white;
}
.icono{
  color: blue;
  font-size: 19px;
  margin-right: 2px;
  font-family: "fontawesome";
}
.navbar-fixed-top{
  position:relative;
}
.navbar-header{
  /*float; left;*/
}

/*Footer*/
#contacto-main{
	margin-top: 70px;
}

.mapag{
  margin-top: 2%;
  width: 70%;
  height: 90%;
}
.footer{
  position: relative;
  min-height: 33vh;
  background-color: #2a2a2a;
  max-height: 100%;
  max-width: 100%;
}
#primer-telefono{
  margin-top: 10%;
}
.texto-contacto{
  width: 100%;
  color: #ffffff;
  text-align: center;
}
.icono-footer{
  color:  #ffffff;
  font-size: 25px;
  /*margin-right: 2px;*/
  font-family: "fontawesome";
  text-align: center;
}
.sobre-footer{
  color:  #ffffff;
  font-size: 25px;
  text-align: center;
  padding-top: 3px;
}

.sobrenosotros{
  margin-left: 19.3%;
  height: 93%;
  width: 20.7%;
  /*background-color: red;*/
  z-index: 4;
  position: absolute;
  padding: 0px;
  margin-top: 0px;
}
@media (max-width: 800px) {
  .sobrenosotros{
    min-width: 90%;
    margin-left: 5%;
  }

  .titulo-sn{
    font-size: 3.2vw;
    margin-left: 0%;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  #text-sn{
    font-size: 2.5vw;
  }
}

.contacto-footer{
  margin-left: 40.5%;
  height: 93%;
  width: 20.7%;
  /*background-color: blue;*/
  z-index: 4;
  position: absolute;
  padding: 0px;
  margin-top: 0px;
}

.mapa-footer{
  margin-left: 65.5%;
  /*height: 93%;*/
  /*width: 40.7%;*/
  /*background-color: yellow;*/
  z-index: 9;
  position: absolute;
  padding: 0px;
  margin-top: 0px;
}
#barra-fucsia{
  /*border-right-width: 40px;*/
  /*border-right-color: blue;*/
  width: 1.5%;
  margin-top: 20px;
  margin-left: 22%;
  min-height: 30px;
  /*position: relative;*/
  z-index: 10;
  background-color: #c2498d;
  float: left;
  position: absolute;
}
@media (min-width: 801px) {
  .titulo-sn{
    font-size: 1vw;
    position: relative;
    margin-top: 25px;
    margin-left: 26%;
  }
  #text-sn{
    font-size: 0.9vw;
  }
}
.titulo-sn{   
	margin-top: 30px;
    color: #ffffff;
    z-index: 5;
  }

.info-contacto{
  color: #ffffff;
  font-size: 1vw;
}
#text-sn{
  
  color: #ffffff;
  position: relative;
  margin-top: 8%;
  /*margin-left: 15vw;*/
  text-align: center;
  padding-right: 4%;
  padding-left: 4%;
}
#redes-footer{
  /*margin-right: 20.1%;*/
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Poppins Regular";
  font-size: 25.4px;
  color: white;
  /*max-width: 30%;*/
  /*overflow: auto;*/
  /*float: right;*/
  text-align: center;
}
.mapa-footer {
    margin-left: 65.5%;
    /* height: 93%; */
    /* width: 40.7%; */
    /* background-color: yellow; */
    z-index: 9;
    position: absolute;
    padding: 0px;
    margin-top: 0px;
}

.mapa-footer {
    margin-left: 65.5%;
    /* height: 93%; */
    /* width: 40.7%; */
    /* background-color: yellow; */
    z-index: 9;
    position: absolute;
    padding: 0px;
    margin-top: 20px;
}
</style>	
  </body>
</html>
