
<header class="navbar-fixed-top">
    <nav class="sobrebarra">
      <div class="telefonos">
        <i class="fas fa-phone icono"> </i> TEL (449) 300 9067  <span class="glyphicon glyphicon-envelope no-cel" id="sobre"></span> <span class="correo no-cel"> hola@marketful.mx </span>
      </div>
      <div class="redes ">
        <a href="https://www.pinterest.com.mx/socialmedia4435/pins/" id="logo_pinterest" class="fa fa-pinterest logo_sn " target="_blank"></a>  
        <a href="https://www.instagram.com/marketfulmx" id="logo_ig" class="fa fa-instagram logo_sn" target="_blank"></a>   
        <a href="https://www.facebook.com/marketfulmx/" id="logo_fb" class="fa fa-facebook logo_sn" target="_blank"></a>  
        <a href="https://www.linkedin.com/company/marketful-fulfillment/" id="logo_lnkd" class="fa fa-linkedin logo_sn" target="_blank"></a>       
      </div>
    </nav> 

  <nav class="navbar  barra">
    <!-- <div class="contenedor"> -->
      <%#= link_to "MARKETFUL", '/', id: "logo" %>
      <%#= image_tag("Logo_marketful.png", :alt => "Logo Marketful") %>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="border: 1px solid black;" >
          <span class="icon-bar" style="border: 1px solid black;"></span>
          <span class="icon-bar" style="border: 1px solid black;"></span>
          <span class="icon-bar" style="border: 1px solid black;"></span>                        
        </button>
        <div id="#logo_marketful">
        <%=link_to image_tag("Logo_marketful.png", height: "82px", alt: "Edit Entry", id: "logo_marketful"), '/' %>
        </div>
      </div>
      <div class="collapse navbar-collapse nombres" id="myNavbar" style="padding-left: 0vh;" >

        
        <ul class="nav navbar-nav " id="myNavbarul">
          <li><%= link_to "HOME",   '/' %></li>
          <% if 2>3 %>
            <li><%= link_to "Shopify",   '/shopify' %></li>
          <% else %>
            <li><a href="#section_servicios" >SERVICIOS</a></li>
            <!-- <li><%#= link_to "POR QUE ELEGIRNOS",   '/' %></li> -->
            <li><a href="#section_fulfillment" >FULFILLMENT</a></li>
            <li><a href="#section_clientes" >CLIENTES</a></li>
            <li><a href="#section2">CONTACTO</a></li>
          <% end %>
          <% if 2>3 %>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log in"%></li>
          <% end %>
        </ul>
      </div>
    <!-- </div> -->
  </nav>
</header>

<style>

.anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}



header{
  position: relative;
  display:block;
}
#myNavbar{
  /*margin-left: 10%;*/
  padding-right: 2%;
  /*float: right;*/
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f00; /* Changes regular toggle color */
  border: 1px solid black;
}
.contenedor{
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.sobrebarra{
  background-color: black;
  height: 44px;
  /*dislpay: inline-block;*/
}
.nombres{
  padding-top: 1%;
  float: right;
}
.barra{
  background-color: white;
  /*margin-top: 5px;*/
  /*dislpay: inline-block;*/
/*  margin-bottom: 0px;
  height: 84px;
  width: 100%;*/
}
.nombre_secciones{
  font-family: 'Poppins Regular';
  font-size: 14px;
  padding-top: 18px;

}
.barra2{
  margin: 0px;
  /*width: 100%;*/
}
@media (max-width: 990px) {
  #logo_marketful{
    margin-left: 0%;
  }
}
@media (min-width: 991px) {
  #logo_marketful{
    margin-left: 0%;
  }
}

@media (max-width: 990px) {
  .correo{
    visibility: hidden;
  }
}
@media (min-width: 1300px) {
  .logo_sn{
    margin-left: 5px;
    /*font-size: 22px;*/
  }
  #logo_pinterest, #logo_ig, #logo_fb,  #logo_lnkd{
    font-size: 22px;
  }
}
@media (max-width: 1300px) {
  .logo_sn{
    margin-left: 2px;
  }
}
#sobre{
  margin-left: 25px;
}

.telefonos{
  margin-left: 2.1%;
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: "Poppins Regular";
  font-size: 16.4px;
  color: white;
  max-width: 60%;
  /*position: relative;*/
  float: left;
  overflow: auto;
}
.redes{
  margin-right: 20.1%;
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: "Poppins Regular";
  font-size: 16.4px;
  color: white;
  max-width: 30%;
  /*position: relative;*/
  overflow: auto;
  float: right;
}
.logo_sn{
  /*margin-left: 2px;*/
  color: white;
}
.icono{
  color: blue;
  font-size: 19px;
  margin-right: 2px;
  font-family: "fontawesome";
}
.navbar-fixed-top{
  position:relative;
}
.navbar-header{
  /*float; left;*/
}
</style>

  